/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* colors */

  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --buttons-color: #ff0070;
  --title-color: #db00ff;
  --main-bg-color: #000028;
  --main-text-color: #f1b2ce;
  --subtitle-color: #000028;
  --article-title-color: #ff0070;
  --border-hover-color: rgba(255, 0, 112, 0.4);

  /* font-size */

  --font: "IBM Plex mono";

  --text-size: 18px;

  /* font-weight */
  --font-weight-bold: 700;
  --font-weight-normal: 400;

  /* background image */
  --bg-image: url(/images/cover-image-dark.png);
}
